body {
  font-family: sans-serif;
}

nav {
  margin-bottom: 16px;
  background: #fa923f;
  padding: 8px 0;
}

a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color:white
}


a.active { 
  color:#521751
}

/* a:not(.active) {
  color:red
} */

.main-section { /* Ovo je univerzalno za svaki .main-section */
  border: 1px solid #ccc; 
  padding: 16px;
  height: 800px;
}

.highlighted { /* Ovo je posebno za dodatni .highlighted u .main-section, sto znaci da ostale osobine uziva od generalnog .main-section */
 border: 2px solid #fa923f;
}